nav#navbarHeader.navbar.navbar-light.bg-light.fixed-top{
    color: #334e67;
    background-color: #334e67 !important;
}

a.navbar-brand{
    display: table;
}

img#logoHeader.d-inline-block.align-top{
    height: auto;
    width: 38%;
}