@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <h1> Profile </h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 profilepage-card">
                <div class="card">
                    <div class="card-body border-0">
                        <form>
                            <div class="form-group row">
                                <label for="name" class="font-weight-bold col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="name" value="@ViewData["Nome"]">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="font-weight-bold col-sm-4 col-form-label">Address</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="address" value="@ViewData["Morada"]">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="font-weight-bold col-sm-4 col-form-label">Postal
                                    code</label>
                                <div class="col-md-8">
                                    <input readonly type="text" class="form-control-plaintext" id="postalCode"
                                        value="@ViewData["CodigoPostal"]">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="NIF" class="font-weight-bold col-sm-4 col-form-label">NIF</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="NIF" value="@ViewData["NIF"]">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="font-weight-bold col-sm-4 col-form-label">Phone</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="phone" value=@ViewData["Telefone"]>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="font-weight-bold col-sm-4 col-form-label">Email</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="email" value=@ViewData["Email"]>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="user" class="font-weight-bold col-sm-4 col-form-label">User code</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="user" value=@ViewData["id"]>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 profilepage-card">
                    <img src=@ViewData["Image"] alt="" id="profile-pic">
                </div>
        </div>
    </div>
</div>