@{
    ViewData["Title"] = "Search Results";
}

<div class="container">
    <h1> Search results for "Cooking" </h1>
    <div class="container">
        <div class="row">
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="book-card col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card book-card">
                    <div class="card-body border-0">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                            <p class="book-name">Sem segredos! de Marco Costa</p>
                            <p>28.64€</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>