@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <h1> Order 638385949 </h1>
    <div class="content-container">
        <div class="row">
            <div class="col-sm-6 orderpage-card">
                <div class="card">
                    <div class="card-header">
                        Info order
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="name" class="font-weight-bold col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="name" value="Briggite Jolicoeur">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="font-weight-bold col-sm-4 col-form-label">Address</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="address" value="5, Place Charles de Gaulle">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="postalCode" class="font-weight-bold col-sm-4 col-form-label">Postal
                                    code</label>
                                <div class="col-md-8">
                                    <input readonly type="text" class="form-control-plaintext" id="postalCode"
                                        value="59473 VILLENEUVE-D'ASCQ">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="NIF" class="font-weight-bold col-sm-4 col-form-label">NIF</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="NIF" value="2830740203324 91">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="font-weight-bold col-sm-4 col-form-label">Phone</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="phone" value="+33 03 54 75 92 54">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 orderpage-card">
                <div class="card">
                    <div class="card-header">
                        Payment info
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="type" class="font-weight-bold col-sm-4 col-form-label">Type</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="type" value="MasterCard">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cardNumber" class="font-weight-bold col-sm-4 col-form-label">Card
                                    number</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="cardNumber"
                                        value="5336 7576 2219 5013">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="date" class="font-weight-bold col-sm-4 col-form-label">Date</label>
                                <div class="col-md-8">
                                    <input readonly type="text" class="form-control-plaintext" id="date" value="10/2021">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="CVC2" class="font-weight-bold col-sm-4 col-form-label">CVC2</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="CVC2" value="854">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-7">
                        Name
                    </div>
                    <div class="col-md-1">
                        Quant.
                    </div>
                    <div class="col-md-1">
                        s/IVA
                    </div>
                    <div class="col-md-1">
                        w/IVA
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://img.wook.pt/images/sem-segredos-marco-costa/MXwyMjI4NzQ4NHwxODE4Mzg0OHwxNTM4MDg5MjAwMDAw/502x"
                            alt="" class="product-pic">
                    </div>
                    <div class="col-md-5">
                        Sem segredos! de Marco Costa
                    </div>
                    <div class="col-md-1">
                        1x
                    </div>
                    <div class="col-md-2 pricewoiva">
                        11.03€
                    </div>
                    <div class="col-md-2">
                        14.32€
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                Total items
            </div>
            <div class="col-md-2" style="text-align: right">
                14,32€
            </div>
        </div>
        <div class="row">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                Shopping
            </div>
            <div class="col-md-2" style="text-align: right">
                0,00€
            </div>
        </div>
        <div class="row mt-2">
            <div class="font-weight-bold col-md-8">
            </div>
            <div class="font-weight-bold col-md-2">
                TOTAL
            </div>
            <div class="font-weight-bold col-md-2" style="text-align: right">
                14,32€
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 orderpage-card">
                <div class="card">
                    <div class="card-header">
                        Info about order
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <label for="orderNr" class="font-weight-bold col-sm-4 col-form-label">Order nr</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="orderNr" value="638385949">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="state" class="font-weight-bold col-sm-4 col-form-label">State</label>
                                <div class="col-sm-8">
                                    <input readonly type="text" class="form-control-plaintext" id="state" value="In transit">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="company" class="font-weight-bold col-sm-4 col-form-label">Company</label>
                                <div class="col-md-8">
                                    <input readonly type="text" class="form-control-plaintext" id="company"
                                        value="Chronopost">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
